
.textbox {
  opacity: 50%;
  background-color: black;
  margin: auto;
  width: 80%;
  position: fixed;
  bottom: 20px;
  left: 10%;
}

.textTable {
  opacity: 100%;
  background-color: black;
  width: 90%;
}

td {
  opacity: 100%;
  color: white;
  text-align: center;
  background-color: black;
  width: 50%;
}

.sceneText {
  font-size: large;
}

.options {
  font-size: x-large;
}